<div class="col-md-2">
  {{dashboard-nav activeItem=4}}
</div>
<div class="col-md-10">
  <div class="row">
    <div class="col-md-4">
      {{drag-drop url='/attachments'}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{attachment-list attachments=model}}
    </div>
  </div>
</div>
