<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="home-section-block">
              <h4>Issues</h4>
              <p>Site common issues records</p>
              <a href="#" class="btn btn-primary">Show</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="thumbnail">
            <div class="home-section-block">
              <h4>About us</h4>
              <p>Our details</p>
              <a href="#" class="btn btn-primary">Show</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="tags-section">
       {{tag-list}}
      </div>
      <div class="notices-section">
        {{notice-summary notices=model.notices}}
      </div>
    </div>
  </div>
</div>
