<div class="row">
  <div class="col-md-offset-1 col-md-10">    
    <br/>
    {{#bs-alert type="danger"}}
      <strong>{{t 'messages.failed'}}</strong> {{t 'messages.bad_url'}}
    {{/bs-alert}}
  </div>
</div>
