<br/>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <ul class="nav nav-tabs" role="tablist">
      {{#each model.tabs as |tab| }}
        <li role='presentation'>
          {{#link-to 'index'}}{{tab}}{{/link-to}}
        </li>
      {{/each}}
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
