<% @title = t 'reading.books' %>
<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <%= paginate @books %>
  </div>
  <%= render 'reading/shared/books', books: @books %>
</div>

<%= paginate @books %>