{{ define "cms_article" }}
{{ template "header" . }}
<h3>
    <a href="/cms/article/{{ .Payload.Aid }}" target="_blank">
        {{ .Payload.Title }}
    </a>
</h3>
<hr/>
<blockquote>
    <p>{{ .Payload.Summary }}</p>
    <footer> {{ .Payload.UpdatedAt }}</footer>
</blockquote>
<div class="markdown">{{ .Payload.Body }}</div>
{{ template "footer" . }}
{{ end }}
