{{ define "notices" }}
{{ template "header" . }}
{{ range .Payload }}
<blockquote>
    <p class="markdown">
        {{ .Content }}
    </p>
    <footer>
        <time class="timeago" datetime="{{ .UpdatedAt }}"></time>
    </footer>
</blockquote>
{{ end }}
{{ template "footer" . }}
{{ end }}