{{ define "notices" }}
{{ template "header" . }}
{{ range .Payload }}
<blockquote>
    <p class="markdown">
        {{ .Content }}
    </p>
    <footer>{{ .UpdatedAt }}</footer>
</blockquote>
{{ end }}
{{ template "footer" . }}
{{ end }}