<% notes.each do |n| %>
    <blockquote>
      <p class="markdown"><%= n.body %></p>
      <footer>
        <%= time_ago_in_words n.updated_at %>
        <cite>
          <% if policy(n).edit? %>
              <%= link_to t('buttons.edit'), edit_note_path(n) %>
              <%= link_to t('buttons.remove'), note_path(n), method: :delete, data: {confirm: t('home.are_you_sure')} %>
          <% end %>
        </cite>
      </footer>
    </blockquote>
<% end %>